<<<<<<< HEAD
:root {
    --blue: #588985;
    --pink: #D18A8A;
    --yellow: #E5AB45;
    --darkblue: #123A38;
    --blueShadow: #3c6f6b;
    --pinkShadow: #b47575;
    --yellowShadow: #c99439;
}

=======
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container {
    box-sizing: border-box;
    position: absolute;
    top:0;
    left:0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    flex-wrap: wrap;
=======
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    width: 100vw;
    overflow: hidden;
}

.puzzleSolver {
    box-sizing: border-box;
<<<<<<< HEAD
    background: var(--pink);
    color: black;
    width: 50vw;
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 0 45%;
=======
    background: #5C9EAD;
    color: black;
    width: 50vw;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
}

.SIFT {
    box-sizing: border-box;
<<<<<<< HEAD
    background: var(--blue);
    color: black;
    width: 50vw;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex: 1 0 45%;
}

.SIFT_2 {
    box-sizing: border-box;
    background: var(--yellow);
    color: black;
    width: 100vw;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex: 1 0 45%;
}

.leftContent, .rightContent, .bottomContent {
=======
    background: #E39774;
    color: black;
    width: 50vw;
    padding: 20px;
    display: flex;
    align-items: center;
}

.leftContent, .rightContent {
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    padding: 3vw 10vw;
    text-align: center;
}

<<<<<<< HEAD
.leftContent h3, .rightContent h3, .bottomContent h3 {
    margin-bottom: 5vh;
    font-size: large;
=======
.leftContent h3, .rightContent h3 {
    margin-bottom: 5vh;
    font-size: x-large;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    font-weight: 200;
}


.disc {
<<<<<<< HEAD
    background-color: var(--darkblue);
    color: white;
    position: absolute;
    width: 200px;
    top: 20%;
=======
    background-color: #326273;
    position: absolute;
    width: 200px;
    top: 50%;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    right: -125px;
    transform: translateY(-50%);
    padding: 0 20px 0 20px;
}

.disc h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.leftButton {
<<<<<<< HEAD
    background-color: var(--pink);
=======
    background-color: #5C9EAD;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    border-radius: 20px;
    border: none;
    padding: 8px;
    outline: none;
}

.leftButton::-webkit-file-upload-button {
<<<<<<< HEAD
    background-color: var(--blue);
=======
    background-color: #E39774;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    border-radius: 20px;
    border: none;
    padding: 8px;
    outline: none;
}

.rightButton {
<<<<<<< HEAD
    background-color: var(--blue);
=======
    background-color: #E39774;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    border-radius: 20px;
    border: none;
    padding: 8px;
    outline: none;
}

.rightButton::-webkit-file-upload-button {
<<<<<<< HEAD
    background-color: var(--yellow);
=======
    background-color: #5C9EAD;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    border-radius:20px;
    border: none;
    padding: 8px;
    outline: none;
}

.rightSubmitButton {
<<<<<<< HEAD
    background-color: var(--yellow);
=======
    background-color: #5C9EAD;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    padding: 8px 30px;
    margin: 30px;
}

.leftSubmitButton {
<<<<<<< HEAD
    background-color: var(--blue);
=======
    background-color: #E39774;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    padding: 8px 30px;
    margin: 30px;
}

.leftButton::-webkit-file-upload-button:hover,
.leftButton::-webkit-file-upload-button:active,
.leftSubmitButton:hover,
.leftSubmitButton:active {
<<<<<<< HEAD
    background-color: var(--blueShadow);
=======
    background-color: #e67d4c;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
    cursor: pointer;
}

.rightButton::-webkit-file-upload-button:hover,
.rightButton::-webkit-file-upload-button:active,
.rightSubmitButton:hover,
.rightSubmitButton:active {
<<<<<<< HEAD
    background-color: var(--yellowShadow);
    cursor: pointer;
}

.bottomButton {
    background-color: var(--yellow);
    border-radius: 20px;
    border: none;
    padding: 8px;
    outline: none;
}

.bottomButton::-webkit-file-upload-button {
    background-color: var(--pink);
    border-radius: 20px;
    border: none;
    padding: 8px;
    outline: none;
}

.bottomSubmitButton {
    background-color: var(--pink);
    padding: 8px 30px;
    margin: 30px;
}

.bottomButton::-webkit-file-upload-button:hover,
.bottomButton::-webkit-file-upload-button:active,
.bottomSubmitButton:hover,
.bottomSubmitButton:active {
    background-color: var(--pinkShadow);
    cursor: pointer;
}

.numberInput {
    background-color: var(--yellow);
    border-radius: 20px;
    border: none;
    padding: 8px;
    outline: none;
    text-align: center;
}

.numberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

=======
    background-color: #288ea5;
    cursor: pointer;
}

>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
h4 {
    margin-bottom: 5px;
    margin-top: 25px;
}

<<<<<<< HEAD
h5 {
    margin-top: 0px;
}

@media only screen and (max-width: 1155px) {
    .disc {
        background-color: var(--darkblue);
        position: absolute;
        width: 150px;
        top: 20%;
=======
@media only screen and (max-width: 1155px) {
    .disc {
        background-color: #326273;
        position: absolute;
        width: 150px;
        top: 50%;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
        right: -90px;
        transform: translateY(-50%);
        padding: 0 15px 0 15px;
    }

    .disc h1 {
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        font-size: 25px;
    }
}

@media only screen and (max-width: 990px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .puzzleSolver {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    
    .SIFT {
        width: 100vw;
    }

    .disc {
<<<<<<< HEAD
        background-color: var(--darkblue);
        position: relative;
        width: 200px;
=======
        background-color: #326273;
        position: relative;
        width: 150px;
>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
        margin: 40px auto;
        padding: 0 20px 0 20px;
        top: 0%;
        right: 0px;
        transform: none;
    }
<<<<<<< HEAD

    .disc h1 {
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
        font-size: 30px;
    }
}
=======
}



>>>>>>> eabf643e2566be090d013d29b7841fb1c29bccf9
